* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  width: 350px;
}

#result {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  border-color: transparent;
  text-align: right;
  height: 70px;
  font-size: 50px;
  padding: 0 10px 0 20px;
}

button {
  height: 60px;
  border: 1px solid transparent;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  background-color: rgba(122, 122, 122, 0.3);
}

button:active {
  background-color: rgba(73, 73, 73, 0.329);
}

.equal {
  height: 100%;
  grid-area: 2/ 4/ 6/ 5;
}

.numbers-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}
